# Python cache
__pycache__/
*.py[cod]

# Environment / Virtual environment
venv/
.venv/
env/
.env

# Database local
db.sqlite3

# Static / Media
/staticfiles/
/media/
# IDE & Code Editor (VS Code)
.vscode/
.idea/

# File hệ thống
.DS_Store
Thumbs.db

# Log hệ thống
*.log